.wrapper {
    margin: 0 auto;
    width: 1400px;
    background-color: rgb(231, 248, 235);
    align-items: center;
    text-align: center;


}

button {
    padding: 1rem 3rem;
    text-align: center;
    background-color: rgb(133, 133, 227);
    border: none;
    border-radius: 10px;
}